//LANDING PAGE
.landingPage {
    background: rgb(229, 75, 75);
    box-shadow: 3px 7px 14px lightgrey;
    margin-bottom: 100px;

    h1{
        color: white;
    }

    .landingPageImage {
        background: #e54b4b;
        max-width: 300px;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    blockquote {
        color: white;
    }
}