//TYPOGRAPHY
h1 {
    font-size: 4rem;
    font-weight: 700;
    margin:0 0 20px 0;
    font-family: 'Paytone One', sans-serif;
}

h2 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0 0 20px 0;
    font-family: 'Paytone One', sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

blockquote {
    font-size: 1.8rem;
    font-style: italic;
    margin: 25px 0;
}

